In [73]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy import MetaData
from sqlalchemy.orm import mapper
from config import password

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

import pandas as pd

In [103]:
path = "cleaned_data/gender_race.csv"
pay_gap_by_gender_table = pd.read_csv(path, encoding="UTF-8")
pay_gap_by_gender_table.index.name = 'id'
pay_gap_by_gender_table.head(50)

,categoryindex,category,total_workers,median_weekly_earnings,year
id,,,,,
0,Total,Total,113272,860,2017
1,Total_Men,Men,62980,941,2017
2,Total_Women,Women,50291,770,2017
3,White_Total,White,87730,890,2017
4,White_Men,Men,50003,971,2017
5,White_Women,Women,37727,795,2017
6,AfroAmerican_Total,Black or African American,14521,682,2017
7,AfroAmerican_Men,Men,6928,710,2017
8,AfroAmerican_Women,Women,7593,657,2017
9,Asian_Total,Asian,7320,1043,2017
10,Asian_Men,Men,4014,1207,2017
11,Asian_Women,Women,3306,903,2017
12,Hispanic_Total,Hispanic or Latino ethnicity,19615,655,2017
13,Hispanic_Men,Men,11896,690,2017
14,Hispanic_Women,Women,7719,603,2017
15,Total,Total,115567,886,2018
16,Total_Men,Men,64142,973,2018
17,Total_Women,Women,51425,789,2018
18,White_Total,White,88953,916,2018
19,White_Men,Men,50570,1002,2018
20,White_Women,Women,38384,817,2018
21,AfroAmerican_Total,Black or African American,15041,694,2018
22,AfroAmerican_Men,Men,7282,735,2018
23,AfroAmerican_Women,Women,7760,654,2018
24,Asian_Total,Asian,7643,1095,2018
25,Asian_Men,Men,4169,1241,2018
26,Asian_Women,Women,3474,937,2018
27,Hispanic_Total,Hispanic or Latino ethnicity,20297,680,2018
28,Hispanic_Men,Men,12226,720,2018
29,Hispanic_Women,Women,8071,617,2018
30,Total,Total,109080,809,2015
31,Total_Men,Men,60746,895,2015
32,Total_Women,Women,48334,726,2015
33,White_Total,White,85443,835,2015
34,White_Men,Men,48746,920,2015
35,White_Women,Women,36698,743,2015
36,AfroAmerican_Total,Black or African American,13587,641,2015
37,AfroAmerican_Men,Men,6445,680,2015
38,AfroAmerican_Women,Women,7142,615,2015
39,Asian_Total,Asian,6638,993,2015
40,Asian_Men,Men,3684,1129,2015
41,Asian_Women,Women,2954,877,2015
42,Hispanic_Total,Hispanic or Latino ethnicity,18311,604,2015
43,Hispanic_Men,Men,11142,631,2015
44,Hispanic_Women,Women,7168,566,2015
45,Total,Total,111091,832,2016
46,Total_Men,Men,61930,915,2016
47,Total_Women,Women,49161,749,2016
48,White_Total,White,86474,862,2016
49,White_Men,Men,49310,942,2016

In [104]:
engine = create_engine('postgresql://postgres:'+ password + '@localhost:5432/gender_pay_gap')

In [105]:
#engine.table_names()
metadata = MetaData()
metadata.reflect(bind=engine)
print(metadata.tables)

immutabledict({'by_race': Table('by_race', MetaData(bind=None), Column('id', INTEGER(), table=<by_race>, primary_key=True, nullable=False), Column('household_data', VARCHAR(length=28), table=<by_race>), Column('total_workers_2017', INTEGER(), table=<by_race>), Column('total_workers_2018', INTEGER(), table=<by_race>), Column('median_weekly_earnings_2017', INTEGER(), table=<by_race>), Column('median_weekly_earnings_2018', INTEGER(), table=<by_race>), schema=None), 'pay_gap_by_race': Table('pay_gap_by_race', MetaData(bind=None), Column('id', INTEGER(), table=<pay_gap_by_race>, primary_key=True, nullable=False), Column('categoryindex', VARCHAR(length=50), table=<pay_gap_by_race>, nullable=False), Column('category', VARCHAR(length=50), table=<pay_gap_by_race>), Column('total_workers', INTEGER(), table=<pay_gap_by_race>), Column('median_weekly_earnings', INTEGER(), table=<pay_gap_by_race>), Column('year', INTEGER(), table=<pay_gap_by_race>), schema=None)})

In [106]:
pay_gap_by_gender_table.to_sql(name='pay_gap_by_race', con=engine, if_exists='append', index=True)